extends layout


block content
  h1= title
  p Welcome to #{title}
  div(class="chart-container1", style="position: relative; height: 40vh; width: 80vw")
    canvas(id="myChart")
      p Failed to Render Graph
  <script src="/node/chart/Chart.js"></script>
  <script src="/scripts/ticker.js"></script>